In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/study_memory_data.csv")
df

,topic,days_since_last_revision,revision_count,difficulty,last_score,memory_strength
0,Algebra,2,5,2,85,0.92
1,Calculus,7,2,4,65,0.48
2,Physics,5,3,3,70,0.60
3,Chemistry,10,1,4,55,0.30
4,Python,1,6,1,90,0.95
5,Data Structures,4,4,3,78,0.72
6,Machine Learning,8,2,4,62,0.45
7,Databases,6,3,2,75,0.68
8,Operating Systems,9,1,4,58,0.35
9,Statistics,3,4,2,80,0.78

In [3]:
df["revision_density"] = df["revision_count"] / (df["days_since_last_revision"] + 1)

df["difficulty_impact"] = df["difficulty"] * (1 - df["memory_strength"])

df["performance_gap"] = 100 - df["last_score"]

df

,topic,days_since_last_revision,revision_count,difficulty,last_score,memory_strength,revision_density,difficulty_impact,performance_gap
0,Algebra,2,5,2,85,0.92,1.666667,0.16,15
1,Calculus,7,2,4,65,0.48,0.250000,2.08,35
2,Physics,5,3,3,70,0.60,0.500000,1.20,30
3,Chemistry,10,1,4,55,0.30,0.090909,2.80,45
4,Python,1,6,1,90,0.95,3.000000,0.05,10
5,Data Structures,4,4,3,78,0.72,0.800000,0.84,22
6,Machine Learning,8,2,4,62,0.45,0.222222,2.20,38
7,Databases,6,3,2,75,0.68,0.428571,0.64,25
8,Operating Systems,9,1,4,58,0.35,0.100000,2.60,42
9,Statistics,3,4,2,80,0.78,1.000000,0.44,20

In [4]:
features = [
    "days_since_last_revision",
    "revision_count",
    "difficulty",
    "last_score",
    "revision_density",
    "difficulty_impact",
    "performance_gap"
]

X = df[features]
y = df["memory_strength"]
X, y

(   days_since_last_revision  revision_count  difficulty  last_score  \
 0                         2               5           2          85
 1                         7               2           4          65
 2                         5               3           3          70
 3                        10               1           4          55
 4                         1               6           1          90
 5                         4               4           3          78
 6                         8               2           4          62
 7                         6               3           2          75
 8                         9               1           4          58
 9                         3               4           2          80

    revision_density  difficulty_impact  performance_gap
 0          1.666667               0.16               15
 1          0.250000               2.08               35
 2          0.500000               1.20               30
 3          0.090909               2.80               45
 4          3.000000               0.05               10
 5          0.800000               0.84               22
 6          0.222222               2.20               38
 7          0.428571               0.64               25
 8          0.100000               2.60               42
 9          1.000000               0.44               20  ,
 0    0.92
 1    0.48
 2    0.60
 3    0.30
 4    0.95
 5    0.72
 6    0.45
 7    0.68
 8    0.35
 9    0.78
 Name: memory_strength, dtype: float64)

In [5]:
processed_df = df.copy()
processed_df.to_csv("../data/processed_study_memory_data.csv", index=False)